---
- name: Check if group exists
  ansible.builtin.shell: getent group "{{ usern }}"
  register: group_exists
  failed_when: false
  changed_when: false

- name: Ensure to create group
  ansible.builtin.group:
    name: "{{ usern }}"
    state: present

- name: Check if user exists
  ansible.builtin.command: id "{{ usern }}"
  register: user_exists
  failed_when: false
  changed_when: false

- name: Create user.
  ansible.builtin.user:
    name: "{{ usern }}"
    group: "{{ usern }}"
    shell: /bin/bash
    state: present
    create_home: true
    password: "{{ usern | password_hash('sha512') }}"
    comment: "{{ usern }}"
  when: user_exists.rc != 0
